* {
  box-sizing: border-box;
}
body {
  background: #333;
  font-family: "Source Sans Pro";
}
button {
  border: none;
  color: #fff;
  background: $medBlue;
  border: 1px solid $medBlue;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  background: $medBlue;
  transition: 0.2s;
}
button:hover {
  background: $medBlueHigh;
  border: 1px solid $medBlueHigh;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
input {
  font-size: 14px;
  padding: 12px 15px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
}
input:focus {
  outline: 0;
  border: 1px solid $lightestBlue;
}
.input-group input {
  border-radius: 3px 0 0 3px;
  width: calc(100% - 200px);
}
.input-group button {
  border-radius: 0 3px 3px 0;
  width: 200px;
}
