.domain-manager-header {
  display: flex;
}
.search-name {
  padding: 20px;
  background: #eee;
  width: 40%;
}
.search-name .instructions {
  margin-bottom: 10px;
}
.search-name .owner {
  margin-bottom: 20px;
}
.search-name input {
  width: 100%;
}
.search-name button {
  background: $medBlue;
  width: 100%;
  transition: 0.2s;
}
.search-name button:hover {
  background: $medBlueHigh;
}
/* Node info */
.node-info {
  padding: 20px;
  background: #ccc;
  width: 60%;
}
.tabs {
  display: flex;
}
.tab {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  width: 50%;
  background: $medBlue;
  opacity: 0.7;
  padding: 10px 0;
  text-align: center;
  margin: 0;
  transition: 0.2s;
}
.tab:first-child {
  border-radius: 5px 0 0 0;
}
.tab:last-child {
  border-radius: 0 5px 0 0;
}
.tab.current {
  background: $medBlue;
  opacity: 1;
}
.tab:hover {
  cursor: pointer;
  opacity: 1;
}
.info-container {
  margin-bottom: 10px;
}
.info {
  background: transparent;
  padding: 14px 15px 5px;
  height: 50px;
  white-space: nowrap;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}
.current-node {
  float: left;
  width: 30%;
  border-right: solid 1px $medBlue;
  border-left: solid 1px $medBlue;
}
.current-owner {
  float: left;
  overflow: hidden;
  border-right: solid 1px $medBlue;
}
.current-resolver {
  float: left;
  width: 100%;
  border: solid 1px $medBlue;
  border-radius: 0 0 5px 5px;
}
/* Nodes */
.nodes-root {
  color: $lightBlue;
  background: $darkBlue;
}
.child-nodes {
  display: flex;
  justify-content: center;
}
.node {
  color: #fff;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.node-details {
  padding: 20px;
  border: 2px solid $lightBlue;
}
.selected > .node-details {
  border: 2px solid $medBlue;
}
