.domain-manager {
  display: flex;
  margin-top: 80px;
}
.search-name {
  width: auto;
  margin-top: 10px;
}
.search-name .owner {
  float: left;
}
.search-name input {
  margin: 0;
  margin-left: 20px;
  float: left;
  width: auto;
}
.search-name input.has-owner {
  border-radius: 5px 0 0 5px;
}
.search-name button {
  float: left;
  background: $medBlue;
  width: auto;
  transition: 0.2s;
}
.search-name button:hover {
  background: $medBlueHigh;
}
/* Node info */
.node-info {
  height: 100%;
  padding: 20px;
  background: #f1f1f1;
  width: 40%;
  position: fixed;
  z-index: 1;
}
.tabs {
  display: flex;
}
.tab {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  width: 50%;
  background: $medBlue;
  opacity: 0.7;
  padding: 10px 0;
  text-align: center;
  margin: 0;
  transition: 0.2s;
}
.tab:first-child {
  border-radius: 5px 0 0 0;
}
.tab:last-child {
  border-radius: 0 5px 0 0;
}
.tab.current {
  background: $medBlue;
  opacity: 1;
}
.tab:hover {
  cursor: pointer;
  opacity: 1;
}
.info-container {
  margin-bottom: 10px;
}
.info {
  background: transparent;
  padding: 14px 15px 5px;
  height: 50px;
  white-space: nowrap;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}
.current-node {
  float: left;
  width: 30%;
  border-right: solid 1px $medBlue;
  border-left: solid 1px $medBlue;
}
.current-owner {
  float: left;
  overflow: hidden;
  border-right: solid 1px $medBlue;
}
.current-resolver {
  float: left;
  width: 100%;
  border: solid 1px $medBlue;
  border-radius: 0 0 5px 5px;
}
/* Nodes */
.nodes-root {
  margin-left: 40%;
  width: 60%;
  color: $lightBlue;
}
.node {
  position: relative;
  color: #fff;
  display: flex;
  height: 50px;
}
.node-details {
  padding: 10px;
  width: 200px;
  border: 2px solid $lightBlue;
}
.selected > .node-details {
  border: 2px solid $medBlue;
}
.node-details:hover {
  cursor: pointer;
}
.child-nodes {
  position: relative;
}
