.header {
  background: $darkBlue;
  padding: 10px 20px;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  color: $lightestBlue;
  font-weight: 300;
bp($width-xs)
}
.nav {
  float: right;
bp($width-xs)
}
.nav ul {
  padding: 0;
bp($width-xs)
}
.nav li {
  display: inline-block;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}
.nav a {
  color: $lightestBlue;
  margin: 0 20px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: 0.2s;
}
.nav a:hover,
.nav a.current {
  border-bottom: 2px solid #fff;
  color: #fff;
}
