@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700,900");
.loader {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 24px;
}
* {
  box-sizing: border-box;
}
body {
  background: #333;
  font-family: "Source Sans Pro";
}
p {
  line-height: 1.8em;
}
button {
  border: none;
  color: #fff;
  background: #262b78;
  border: 1px solid #262b78;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  background: #262b78;
  transition: 0.2s;
}
button:hover {
  background: #363ca1;
  border: 1px solid #363ca1;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
button.right {
  background: #f00;
  float: right;
}
button.danger {
  border: 1px solid #f04848;
  background: #f04848;
}
button.danger:hover {
  background: #eb2929;
  border: 1px solid #eb2929;
}
input {
  font-size: 14px;
  padding: 12px 15px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
}
input:focus {
  outline: 0;
  border: 1px solid #c3ccdb;
}
.input-group input {
  border-radius: 3px 0 0 3px;
  width: calc(100% - 200px);
}
.input-group button {
  border-radius: 0 3px 3px 0;
  width: 200px;
}
.notification-bar {
  z-index: 100;
}
.header {
  zoom: 1;
  background: linear-gradient(to right, #2b306d 1%, #4a66ba 100%);
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 10px 20px;
  z-index: 1000;
}
.header:after,
.header:before {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
h1 {
  margin-top: 5px;
  margin-bottom: 0;
  float: left;
  color: #fff;
  font-weight: 300;
}
@media (max-width: 728px) {
  h1 {
    width: 100%;
    text-align: center;
  }
}
.nav {
  float: right;
}
@media (max-width: 728px) {
  .nav {
    width: 100%;
  }
}
.nav ul {
  margin-top: 10px;
  padding: 0;
}
@media (max-width: 728px) {
  .nav ul {
    text-align: center;
  }
}
.nav li {
  display: inline-block;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}
.nav a {
  color: #ededed;
  margin: 0 20px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: 0.2s;
}
.nav a:hover,
.nav a.current {
  border-bottom: 2px solid #fff;
  color: #fff;
}
.search-name {
  width: auto;
  margin-top: 10px;
}
.search-name .owner {
  float: left;
}
.search-name input {
  margin: 0;
  margin-left: 20px;
  float: left;
  width: auto;
  border-radius: 5px 0 0 5px;
  height: 43px;
}
.search-name button {
  float: left;
  background: #73c462;
  border-radius: 0 5px 5px 0;
  border: #73c462;
  height: 43px;
  width: auto;
  transition: 0.2s;
}
.search-name button:hover {
  background: #73c462;
  border: #73c462;
}
.domain-manager {
  display: flex;
  margin-top: 80px;
}
.node-info {
  height: 100%;
  padding: 20px;
  background: #f1f1f1;
  width: 40%;
  position: fixed;
  z-index: 1;
}
.tabs {
  display: flex;
}
.tab {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  width: 50%;
  background: #262b78;
  opacity: 0.7;
  padding: 10px 0;
  text-align: center;
  margin: 0;
  transition: 0.2s;
}
.tab:first-child {
  border-radius: 5px 0 0 0;
}
.tab:last-child {
  border-radius: 0 5px 0 0;
}
.tab.current {
  background: #262b78;
  opacity: 1;
}
.tab:hover {
  cursor: pointer;
  opacity: 1;
}
.info-container {
  zoom: 1;
  margin-bottom: 10px;
}
.info-container:after,
.info-container:before {
  content: "";
  display: table;
}
.info-container:after {
  clear: both;
}
.info {
  background: transparent;
  padding: 14px 15px 5px;
  height: 50px;
  white-space: nowrap;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: solid 1px #262b78;
  border-right: solid 1px #262b78;
  border-left: solid 1px #262b78;
  width: 100%;
}
.info strong {
  font-weight: 300;
}
.info:last-child {
  border-radius: 0 0 5px 5px;
}
.nodes-root {
  margin-left: 40%;
  width: 60%;
  color: #2c7dd3;
}
.node {
  position: relative;
  color: #fff;
  display: flex;
  height: 45px;
}
.node-blockies {
  border-radius: 50%;
}
.remove-node {
  position: absolute;
  font-size: 16px;
  color: #fff;
  top: 0;
  right: 0;
  margin-top: -6px;
  margin-right: -8px;
  display: none;
  z-index: 1000;
  width: 20px;
  height: 20px;
  background: #000;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px #000;
}
.node-details {
  padding: 10px;
  width: 300px;
  position: relative;
  display: flex;
  align-content: center;
}
.node-details .ethereum-address-icon {
  margin-right: 10px;
}
.selected > .node-details {
  background: #2c7dd3;
}
.node-details:hover {
  background: #419bfc;
  cursor: pointer;
}
.node-details:hover .remove-node {
  display: flex;
}
.reverse-nodes-root .node-details.node-details {
  width: 100%;
}
.child-nodes {
  position: relative;
  z-index: 100;
}
.tx-link {
  color: #2c7dd3;
  text-decoration: none;
  font-style: italic;
}
.tx-link:hover {
  color: #419bfc;
  text-decoration: underline;
}
.reverse-record {
  margin-top: 80px;
}
.reverse-node-details h2 {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  width: 100%;
  background: #262b78;
  opacity: 1;
  padding: 10px 0;
  text-align: center;
  margin: 0;
  transition: 0.2s;
  border-radius: 5px 5px 0 0;
}
.about-modal {
  margin: 25px;
  background: #fff;
  color: #000;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  max-width: 600px;
  border-radius: 10px;
  overflow-y: scroll;
}
.overlay {
  background: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.about-page {
  margin: 25px;
}
