@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700,900");
* {
  box-sizing: border-box;
}
body {
  background: #333;
  font-family: "Source Sans Pro";
}
button {
  border: none;
  color: #fff;
  background: #262b78;
  border: 1px solid #262b78;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  background: #262b78;
  transition: 0.2s;
}
button:hover {
  background: #363ca1;
  border: 1px solid #363ca1;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
button.right {
  background: #f00;
  float: right;
}
input {
  font-size: 14px;
  padding: 12px 15px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
}
input:focus {
  outline: 0;
  border: 1px solid #c3ccdb;
}
.input-group input {
  border-radius: 3px 0 0 3px;
  width: calc(100% - 200px);
}
.input-group button {
  border-radius: 0 3px 3px 0;
  width: 200px;
}
.header {
  zoom: 1;
  background: linear-gradient(to right, #2b306d 1%, #4a66ba 100%);
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 10px 20px;
  z-index: 100;
}
.header:after,
.header:before {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
h1 {
  margin-top: 5px;
  margin-bottom: 0;
  float: left;
  color: #fff;
  font-weight: 300;
}
@media (max-width: 728px) {
  h1 {
    width: 100%;
    text-align: center;
  }
}
.nav {
  float: right;
}
@media (max-width: 728px) {
  .nav {
    width: 100%;
  }
}
.nav ul {
  margin-top: 10px;
  padding: 0;
}
@media (max-width: 728px) {
  .nav ul {
    text-align: center;
  }
}
.nav li {
  display: inline-block;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}
.nav a {
  color: #ededed;
  margin: 0 20px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: 0.2s;
}
.nav a:hover,
.nav a.current {
  border-bottom: 2px solid #fff;
  color: #fff;
}
.domain-manager {
  display: flex;
  margin-top: 80px;
}
.search-name {
  width: auto;
  margin-top: 10px;
}
.search-name .owner {
  float: left;
}
.search-name input {
  margin: 0;
  margin-left: 20px;
  float: left;
  width: auto;
}
.search-name input.has-owner {
  border-radius: 5px 0 0 5px;
}
.search-name button {
  float: left;
  background: #262b78;
  width: auto;
  transition: 0.2s;
}
.search-name button:hover {
  background: #363ca1;
}
.node-info {
  height: 100%;
  padding: 20px;
  background: #f1f1f1;
  width: 40%;
  position: fixed;
  z-index: 1;
}
.tabs {
  display: flex;
}
.tab {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  width: 50%;
  background: #262b78;
  opacity: 0.7;
  padding: 10px 0;
  text-align: center;
  margin: 0;
  transition: 0.2s;
}
.tab:first-child {
  border-radius: 5px 0 0 0;
}
.tab:last-child {
  border-radius: 0 5px 0 0;
}
.tab.current {
  background: #262b78;
  opacity: 1;
}
.tab:hover {
  cursor: pointer;
  opacity: 1;
}
.info-container {
  zoom: 1;
  margin-bottom: 10px;
}
.info-container:after,
.info-container:before {
  content: "";
  display: table;
}
.info-container:after {
  clear: both;
}
.info {
  background: transparent;
  padding: 14px 15px 5px;
  height: 50px;
  white-space: nowrap;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}
.current-node {
  float: left;
  width: 30%;
  border-right: solid 1px #262b78;
  border-left: solid 1px #262b78;
}
.current-owner {
  float: left;
  overflow: hidden;
  border-right: solid 1px #262b78;
}
.current-resolver {
  float: left;
  width: 100%;
  border: solid 1px #262b78;
  border-radius: 0 0 5px 5px;
}
.nodes-root {
  margin-left: 40%;
  width: 60%;
  color: #2267b1;
  background: #102026;
}
.node {
  position: relative;
  color: #fff;
}
.node-details {
  padding: 20px;
  border: 2px solid #2267b1;
}
.selected > .node-details {
  border: 2px solid #262b78;
}
.node-details:hover {
  cursor: pointer;
}
.child-nodes {
  left: 100%;
  bottom: 100%;
  position: relative;
  justify-content: center;
}
