.about-modal
  margin 25px
  background white
  color black
  height calc(100% - 50px)
  width calc(100% - 50px)
  max-width 600px
  border-radius 10px
  overflow-y scroll

.overlay
  background rgba(0,0,0,0.7)
  height 100%
  width 100%
  z-index 10000
  display flex
  justify-content center
  align-items center
  position fixed
  top 0
  left 0

.about-page
  margin 25px