
.domain-manager-header
  display flex

.search-name
  padding 20px
  background #eee
  width 40%
  .instructions
    margin-bottom 10px
  .owner
    margin-bottom 20px
  input
    width 100%
  button
    background $medBlue
    width 100%
    transition 0.2s
    &:hover
      background $medBlueHigh

/* Node info */

.current-owner
  margin-bottom 10px

.node-info
  padding 20px
  background #ccc
  width 60%


/* Nodes */

.nodes-root
  color $lightBlue
  background $darkBlue

.nodes-inner
  container()

.child-nodes
  display flex
  justify-content center

.node
  color white
  flex 1
  justify-content center
  align-items center


.node-details
  padding 20px
  border 2px solid $lightBlue
  .selected > &
    border 2px solid $medBlue
  &:hover
    cursor
