.header
  clearfix()
  background linear-gradient(to right, #2b306d 1%,#4a66ba 100%)
  position fixed
  top 0
  left 0
  height 80px
  width 100%
  padding 10px 20px
  z-index 1000

h1
  margin-top 5px
  margin-bottom 0
  float left
  color white
  font-weight 300
  +bp($width-xs)
    width 100%
    text-align center

.nav
  float right
  +bp($width-xs)
    width 100%
  ul
    margin-top 10px
    padding 0
    +bp($width-xs)
      text-align center

  li
    display inline-block
    transition 0.2s
    border-bottom 2px solid transparent

  a
    color #ededed
    margin 0 20px
    padding-bottom 10px
    text-decoration none
    transition 0.2s
    &:hover
    &.current
      border-bottom 2px solid white
      color white

.search-name
  width auto
  margin-top 10px
  .owner
    float left
  input
    margin 0
    margin-left 20px
    float left
    width auto
    border-radius 5px 0 0 5px
    height 43px

  button
    float left
    background #73C462
    border-radius 0 5px 5px 0
    border #73C462
    height 43px
    width auto
    transition 0.2s
    &:hover
      background #73C462
      border #73C462
