/* Nodes */

.nodes-root
  margin-left 40%
  width 60%
  color $lightBlue

.node
  position relative
  color white
  display flex
  height 45px

.node-blockies
  border-radius 50%

.remove-node
  position absolute
  font-size 16px
  color white
  top 0
  right 0
  margin-top -6px
  margin-right -8px
  display none
  z-index 1000
  width 20px
  height 20px
  background black
  justify-content center 
  align-items center 
  border-radius 50%
  border solid 1px black

.node-details
  padding 10px
  width 300px
  position relative
  display flex
  align-content center
  .ethereum-address-icon
    margin-right 10px
  .selected > &
    background $lightBlue
  &:hover
    background $lightBlueHigh
    cursor pointer
    .remove-node
      display flex

  .reverse-nodes-root &.node-details
    width 100%

.child-nodes
  position relative
  z-index 100
