/* Nodes */

.nodes-root
  margin-left 40%
  width 60%
  color $lightBlue

.node
  position relative
  color white
  display flex
  height 45px

.node-blockies
  border-radius 50%

.node-details
  padding 10px
  width 300px
  position relative
  display flex
  align-content center
  .ethereum-address-icon
    margin-right 10px
  .selected > &
    background $lightBlue
  &:hover
    background $lightBlueHigh
    cursor pointer

  .reverse-nodes-root &.node-details
    width 100%

.child-nodes
  position relative
  z-index 100
