.reverse-record
  margin-top 80px

.reverse-node-details
  h2
    color white
    font-weight 300
    font-size 20px
    width 100%
    background $medBlue
    opacity 1
    padding 10px 0
    text-align center
    margin 0
    transition 0.2s
    border-radius 5px 5px 0 0
