@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700,900');
@import './_utils.styl'
@import './_header.styl'

//Header Component
body
  font-family "Source Sans Pro"

.domain-manager-header
  display flex

.search-name
  height 100px
  background red
  width 50%

.node-info
  background green
  width 50%
